*{
    text-align: center;
    background-color: silver;
}
.head{
 line-height: 20px;
 border-bottom: 1px solid lightgray;
 border-top:1px solid lightgray;
 width:15%;
 margin:auto;
}
.intro{
    padding: 10px;
    border-bottom:1px solid lightgray;
    border-top:1px solid lightgray;
    margin: auto;
    width:55%;
}
.pic1{
    width: 350px;
    border-radius: 50%;
    margin-top: 25px;
    margin-bottom:55px;
}
.list{
    margin: auto;
    width:22%;
}
li{
    margin-top: 8px;
    text-align: center;
    border-bottom: 1px solid lightgray;
}
.foot{
    margin-top: 75px;
    background-color:cadetblue;
}