*{
    text-align: center;
    background-color: silver;
}
.head{
 border-bottom: 1px solid lightgray;
 border-top:1px solid lightgray;
margin-left: 40%;
margin-right: 40%;
}
.link{
    text-decoration: none;
    color:black;
}
.intro{
    padding: 10px;
    border-bottom:1px solid lightgray;
    border-top:1px solid lightgray;
    margin: auto;
    width:55%;
}
.pic1{
    width: 350px;
    border-radius: 50%;
    margin-top: 25px;
    margin-bottom:55px;
}
.pic1:hover{
    border-radius: 0%;
    width:50%;
}
li{
    margin-top: 8px;
    text-align: center; 
    text-decoration: underline;
}
.foot{
    margin-top: 75px;
    background-color:cadetblue;
}